.error404 {
    margin: 1em 0 5em 0;
}

body.about {
    //background-position: 97% 97%;
    background-position: 97% 5em;
    background-image: url("/images/cm.svg");
    background-repeat: no-repeat;
}
