{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
    <div id="post-wrap" class="wrap single">
        <ul id="posts" class="index show">
          {{ partial "page.html" . }}
        </ul>
        {{ if not .Params.metaPage }}
            <div class="pagination" id="pagination-posts">
              <div class="pagination-links">
                {{with .Prev}}
                  <a class="pagination-newer" href="{{.Permalink}}">◀</a>
                {{end}}
                {{with .Next}}
                    <a class="pagination-older" href="{{.Permalink}}">▶</a>
                {{end}}
              </div>
            </div>
        {{ end }}
    </div>
{{ end }}
