<div class="nav" id="nav-bottom">
  {{ partial "menu.html" . }}
  <div id="footerInfo">
    <div class="sized">
      <p id="disclaimer">Based on Paper Stacks, a collaboration by <a href="https://www.fiftythree.com/tumblr/via/theme">FiftyThree</a> and <a href="https://www.alldayeveryday.com/">ALLDAYEVERYDAY</a>.</p>
      <p class="projektemacher">
        '{{ .Site.Title }}' {{ i18n "projektemacher" | safeHTML }}
      </p>
    </div>
    <div class="privacy">
      {{ $privacyUrl := "/privacy" }}
      {{- if and $.Sites.Default.Params.footer.privacyUrl -}}
        {{ $privacyUrl := $.Sites.Default.Params.footer.privacyUrl }}
      {{- end -}}
      <p>
        <a href="{{ $privacyUrl | safeHTML }}" title="{{ i18n "privacyPolicy" | safeHTML }}">{{ i18n "privacyPolicy" | safeHTML }}</a>
      </p>
    </div>
  </div>
</div>
