<div id="posts-wrap" class="wrap">
    <ul id="posts" class=" show">
        <li id="post_" class="post text permalink_page " data-permalink="" data-post-type="text">
            <div class="post-pad">
                <div class="post-meta">
                    <h3 class="post-title"><a href="">{{ .Title }}</a></h3>
                </div>
                <div class="post-content">
                    <div class="text-body">{{ .Content }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
