{{- $class := "post" -}}
{{- $type := "" -}}
{{- if .Params.resources -}}
    {{- $class = printf "%s photoset" $class -}}
    {{- $type = "photo" -}}
{{- end -}}

<li  class="{{ $class }}" data-permalink="{{ .RelPermalink }}" data-post-type="{{ $type }}">
      <div class="post-pad">

          <div class="post-meta">
            {{- if not .Params.metaPage -}}
              {{ partial "post/date.html" . }}
              {{ partial "post/tags.html" . }}
            {{ else }}
                <h3 class="post-title"><a href="">{{ .Title }}</a></h3>            
            {{ end }}
          </div>

        <div class="post-content">
        {{- $class := "text-body" -}}
        {{- $linkClass := "" -}}
        {{- $images := slice -}}

        {{- if .Params.resources -}}
            {{- if eq (len .Params.resources) 1 -}}
                {{- $class = "photo-permalink-container" -}}
                {{- $linkClass = "photo-permalink" -}}
            {{- else if gt (len .Params.resources) 1 -}}
                {{- $class = "photoset_wrap" -}}
                {{- $linkClass = "photoset_photo" -}}
            {{- end -}}
            {{- $maxWidth := 1280 -}}
            {{- $thumbsWidth := 400 -}}

            {{- range .Params.resources -}}
                {{- if and .src (not .name) -}}
                    {{- $src := .RelPermalink -}}
                    {{- $image := $.Resources.GetMatch .src -}}
                    {{- if $image -}}
                        {{- $imageDisplay := $image -}}
                        {{- if gt $imageDisplay.Width $maxWidth }}
                            {{- $image = $imageDisplay.Resize (printf "%dx" $maxWidth) -}}
                        {{- end -}}
                        {{- if eq $image.MediaType.SubType "png" -}}
                          {{ $image = $imageDisplay.Resize (printf "%dx %s" $imageDisplay.Width "jpg") -}}
                        {{- end -}}
                        {{- $thumb := $imageDisplay.Resize (printf "%dx jpg" $thumbsWidth) -}}
                        {{- $images = $images | append (dict "orig" $image "front" $imageDisplay "thumb" $thumb) -}}
                    {{- else -}}
                        <div class="image-viewer-error">Couldn't load image "{{ $src }}"</div>
                    {{ end -}}
                {{- end -}}
            {{- end -}}
        {{ end }}

        <div class="{{ $class }}">
            {{ if eq $class "text-body" }}
                {{ .Content }}
            {{ else if eq $class "photo-permalink-container" }}
                <a href="{{ .RelPermalink }}">
                    {{ with index $images 0 }}
                        <img src="{{ (index . "front").RelPermalink }}" alt="" data-highres="{{ (index . "orig").RelPermalink }}" class="post-image">
                    {{ end }}
                </a>
            {{ else if eq $class "photoset_wrap" }}
                <div class="photoset_wrap" data-permalink="{{ .RelPermalink }}">
                {{- range $images -}}
                     <a class="photoset_photo" href="{{ .RelPermalink }}">
                          <img src="{{ (index . "front").RelPermalink }}" data-highres="{{ (index . "orig").RelPermalink }}" class="post-image" />
                     </a>
                {{- end -}}
                </div>
            {{ end }}

            <div class="caption">
                {{ .Content }}
            </div>

        </div>

      </div>
    </div>
 </li>
